* {
font-family: helvetica;
}

.flex-container {
height: 98vw;
width: 98vw;
max-height: 540px;
max-width: 800px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.dice {
height: calc(20% - 10px);
width: calc(20% - 10px);
border: 1px solid black;
border-radius: 10px;
font-size: clamp(48px, 16vw, 80px);
text-align: center;
float: left;
}

.clear {
clear: both;
}

.noRoll {
height: 8%;
width: 18%;
float: left;
}

input.noRoll {
height: 50%;
width: 50%;
}

.button_yahtzee {
height: 12%;
width: calc(36% - 20px);
border: 1px solid black;  
text-align: center;
font-size: clamp(12px, 4vw, 20px);
margin: 1px;
}

.score {
height: calc(12% - 2px);
width: 14%;
border: 1px solid black;
border-radius: 4px;
font-size: clamp(12px, 8vw, 40px);
text-align: center;
margin: 1px;
}

.button_yahtzee.blue {
width: calc(44% - 20px);
border: 1px solid black;
background-color: blue;
color: white;
}

.rollsLeft {
height: calc(12% - 2px);
width: 12%;
border: 1px solid black;
border-radius: 4px;
font-size: clamp(12px, 8vw, 40px);
text-align: center;
margin: 2px;
position: relative;
top: -1px;
}

.subtotal {
height: calc(12% - 2px);
width: calc(36% - 22px);
border: 1px solid black;
background-color: red;
color: white;
text-align: center;
font-size: clamp(12px, 4vw, 20px);
margin: 1px;
}