* {
    font-family: Helvetica, Arial, sans-serif;
}

.dice {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 80px;
    text-align: center;
    float: left;
}

.clear {
    clear: both;
}

.checkbox {
    width: 102px;
    height: 20px;
    float: left;
}

button {
    height: 40px;
    width: 200px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    margin: 1px;
    float: left;
}

.rollsleft {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 36px;
    text-align: center;
    float: left;
}